* {
margin: 0%;
padding: 10%;
}

.cabeçalho{
background-color: rgb(255, 0, 0);
color: rgb(5, 5, 5);
display: flex;
justify-content: space-around;
align-items: center;
padding: 105px 0;
}

.cabeçalho_imagem{
width: 10%;
}

.cabeçalho_titulo{
font-size: 10px;
}

.cabeçalho_lista_item{
margin: 10px 00px 10px 00px;
font-size: 10px;
}

.apresentaçao_trabalho{
background-image: linear-gradient(rgb(255, 0, 0), #ff0000);
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0;
}

.titulo_apresentaçao_trabalho{
font-size: 10px;
}

.imagem_arvore{
width: 05%;
}
